snippet imr
import React from "react";
endsnippet

snippet imrd
import ReactDOM from "react-dom";
endsnippet

snippet rafcp
import React from "react"
import PropTypes from "prop-types"

const App = ({}) => {
    return (
	<>

	</>

    )
}

App.propTypes = {

}

export default App
endsnippet

